<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jgl.autocatalogueur" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jgl.autocatalogueur.ListCategoriesActivity"
            android:label="@string/title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.jgl.autocatalogueur.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.jgl.autocatalogueur.AutocatalogueurService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <provider
            android:name="com.jgl.autocatalogueur.MyContentProvider"
            android:authorities="com.jgl.autocatalogueur"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
